body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.centered .child {
    /* Center entire body */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered_stuff {
    /* Center divs */
    text-align: center;
}

h1 {
    /* Headers used for text */
    color: black;
    font-family:'Montserrat',sans-serif;
    font-size: 20px;
}

div.musicaiabsolute {
    
    position: absolute;
    left: 0px;
    bottom: -20px;
}

div.redditabsolute {
    position: absolute;
    left: 100px;
    bottom: 16px;
}

div.twitterabsolute {
    position: absolute;
    left: 170px;
    bottom: 0px;
}

div.youtubeabsolute {
    position: absolute;
    left: 275px;
    bottom: 15px;
}

div.aboutabsolute {
    position: absolute;
    left: 450px;
    bottom: 10px;
}

.button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid black;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    text-align:center;
    transition: all 0.2s;
}
.button:hover{
    color:#000000;
    background-color:#FFFFFF;
}

.textborder{
    border-width: 2px;
    border-color: black;
}

audio { 
    width: 300px; 
    box-shadow: 5px 5px 20px rgba(170, 169, 169, 0.4);
    border-radius: 90px;
    transform: scale(1.05);
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: blue;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: black;
    cursor: pointer;
}
