body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.centered .child {
    /* Center entire body */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myFormButton {
    box-shadow:inset 0px 1px 0px 0px #000000;
    background-color:#000000;
    border-radius:16px;
    border:1px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:8px 53px;
    text-decoration:none;
    text-shadow:0px 1px 0px #000000;
    white-space: normal;
    margin: 10px;
    table-layout: fixed;
	width:350px;
 	text-align:center;
}

.myButton:hover {
    background-color:#000000;
}

.myButton:active {
    position:relative;
    top:1px;
}

.myButton {
    box-shadow:inset 0px 1px 0px 0px #000000;
    background-color:#000000;
    border-radius:16px;
    border:1px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:8px 53px;
    text-decoration:none;
    text-shadow:0px 1px 0px #000000;
    white-space: normal;
    margin: 10px;
    table-layout: fixed;
    word-wrap: break-word;
	width:240px;
 	text-align:center;
	

}

#existing_jobs_table {
    border: 1px solid black;
}

#logout_link {
    position: fixed;
    top: 1%;
    right: 1%;
    font-size: x-large;
}

.p1 {
    font-family: "Times New Roman", Times, serif;
}

.p2 {
    font-family: Arial, Helvetica, sans-serif;
}

.p3 {
    font-family: "Lucida Console", "Courier New", monospace;
}

#helpText {
                width: auto;
                height: auto;
				font-family: Arial;
                
}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif ;
}
