body {
    background-image: url('../background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.centered .child {
    /* Center entire body */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myButton:hover {
    background-color:#000000;
}

.myButton:active {
    position:relative;
    top:1px;
}

.myButton {
    box-shadow:inset 0px 1px 0px 0px #000000;
    background-color:#000000;
    border-radius:16px;
    border:1px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:8px 53px;
    text-decoration:none;
    text-shadow:0px 1px 0px #000000;
    white-space: normal;
    margin: 10px;
    table-layout: fixed;
    word-wrap: break-word;
    width:240px;
    text-align:center;
    margin-left: 40px

}

#logout_link {
    position: fixed;
    top: 1%;
    right: 1%;
    font-size: x-large;
}

#existing_jobs_table {
    border: 1px solid black;
}

td {
    padding: 10px;
}

.table_header th {
    border-bottom: 1px solid black;
}

.p1 {
    font-family: "Times New Roman", Times, serif;
}

.p2 {
    font-family: Arial, Helvetica, sans-serif;
}

.p3 {
    font-family: "Lucida Console", "Courier New", monospace;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: #555;
    color: #fff;
    text-align: left;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
