body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.verticalhorizontal {
   top: -50px;
   right : 770px ;
	position: absolute;
	
}

#logout_link {
    position: fixed;
    top: 1%;
    right: 1%;
    font-size: x-large;
}

#home_link {
    position: fixed;
    top: 5%;
    right: 1%;
    font-size: x-large;
}

.centerTrainingOutput {
	right: 785px;
	position: absolute;
}
